@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");

html, body {
    font-family: "Raleway", sans-serif;
}

/* Footer */
---------------------------------------------
footer
--------------------------------------------- 
*/
.container2{
	max-width: 1170px;
	margin:auto;
}
.footer1-row{
	display: flex;
	flex-wrap: wrap;
}

.footer1{
    padding: 70px 0;
}

.footer1-col{
   width: 25%;
   padding: 0 15px;
}
.footer1-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    font-family: 'Heebo', sans-serif;
}
.footer1-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #C35607;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer1-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer1-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
    font-family: 'Heebo', sans-serif;
}
.footer1-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer1-col .social-links a i{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer1-col .social-links a:hover{
	color: #24262b;
  cursor: pointer;
}

.horizontal-line-landing-page {
    color: white;
    width: 100%;
}

.footer1-row h4 {
    color: #fff;
    margin-left: 15px;
    padding-bottom: 10px;
}

.payment-methods {
  padding-left: 15px;
}

.payment-methods i {
  color: #fff;
  margin-right: 10px;
  font-size: 30px;
}

@media(max-width: 767px){
  .footer1-col{
    width: 50%;
    margin-bottom: 30px;
}
    .payment-methods i {
        color: #fff;
        margin-right: 10px;
        font-size: 30px;
    }
}
@media(max-width: 574px){
  .footer1-col{
        width: 100%;    
    }
    .payment-methods i {
        color: #fff;
        margin-right: 10px;
        font-size: 20px;
    }
}

.footer-pages {
  padding-top: 100px;
}

.footer1-col .social-links i.fa-envelope {
  color: red;
}

.footer1-col .social-links i.fa-phone {
  color: green;
}

.footer1-col .social-links i.fa-map-marker {
  color: white;
}

.copyright {
  align-items: center;
  
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader .loader-inner {
    position: relative;
    text-align: center;
}

.loader-hidden {
	opacity: 0;
	visibility: hidden;
}

.loader .loader-inner img {
    max-width: 200px; /* Adjust the size of the image as needed */
}

.loader .loader-inner::before {
    content: "";
    width: 200px;
    height: 200px;
    border: 5px solid #000428;
    border-top-color: #C35607;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
    position: absolute;
    top: -0px;
    left: -0px;
    transform: translate(-50%, -50%);
    z-index: 0;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* Loading.. word styling */
@keyframes letterOpacity {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  .waviy span {
	animation: letterOpacity 1s ease-in-out alternate-reverse infinite;
	animation-delay: calc(var(--i) * 0.1s);
  }

/* Strike through line on assignment submission page. */
.strikethrough {
text-decoration: line-through;
}

  /* Hide the default number input spinner buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Flat picker calendar */
.flatpickr-calendar {
	background-color: #004e92 !important;
	font-family: 'Barlow', sans-serif;
}

.flatpickr-day {
	color: white;
}

.flatpickr-innerContainer .flatpickr-weekdays .flatpickr-weekday {
	font-family: 'Barlow', sans-serif;
	color: #fff !important;
}


.flatpickr-styled {
  font-size: 15px !important;
  height: 50px !important;
  border-radius: 3px !important;
  border: 1px solid #aaa !important;
}


.flatpickr-monthYear {
	background-color: #004e92 !important;
	color: white !important;
}

.flatpickr-calendar.open .flatpickr-current-month, 
    .flatpickr-calendar.open .flatpickr-current-year {
        color: white !important;
		font-family: 'Barlow', sans-serif;
}

.flatpickr-calendar .flatpickr-disabled {
	color: gray !important;
}

.flatpickr-calendar .flatpickr-day:hover {
	background-color: #C35607;
	border-color: #C35607;
}

/* Change the color of overlapping days of next month */
.flatpickr-next-month .flatpickr-day {
    color: white;
}

/* Customize the time picker in Flatpickr */
.flatpickr-hour, .flatpickr-minute {
	background-color:  rgb(191 219 254) !important;
	color:  #004e92 !important;
	cursor: pointer;
}

.flatpickr-time-separator {
	color: #004e92 !important;
}

.flatpickr-am-pm {
	background-color:  rgb(191 219 254) !important;
	color:  #004e92 !important;
	cursor: pointer;
}

/* Put a circle on numbers on the stepwise on the assignment form */
.number-circle {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background-color: #004e92; /* Change this to your desired circle background color */
    color: white; /* Change this to your desired text color inside the circle */
    font-weight: bold;
    display: inline-block;
    margin-right: 8px; /* Adjust the margin as needed */
}

.next-step {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background-color: gray; /* Change this to your desired circle background color */
    color: white; /* Change this to your desired text color inside the circle */
    font-weight: bold;
    display: inline-block;
    margin-right: 8px; /* Adjust the margin as needed */
}

/* CSS to show the dropdown menu when the 'visible' class is present */
#dropdownDotsHorizontal.visible {
	display: block;
  }
  
  #notificationDropdown {
	left: -135px;
	transform: none;
	width: 250px;
  }
  
  #NotificationButton {
	position: relative;
  }
  
  #svgOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	/* Add a pointer cursor to indicate interactivity */
	background: transparent;
	/* Make the overlay transparent */
  }
  
  /* Initially hide the dropdown */
  #notificationDropdown {
	display: none;
  }
  
  /* Show the dropdown when the button is focused (e.g., when it's clicked) */
  #NotificationButton:focus+#notificationDropdown {
	display: block;
  }

  /* Show information when user profile is clicked */
  .dropdown:focus-within .dropdown-menu {
    opacity:1;
    transform: translate(0) scale(1);
    visibility: visible;
}

/* Scrolling */
/* Target the scrollbar thumb */
::-webkit-scrollbar-thumb {
	background-color: #C35607;
	/* Change to desired color */
	border-radius: 8px;
	/* Change to desired radius */
  }
  
  /* Reduce the size of the vertical scrollbar */
  ::-webkit-scrollbar {
	width: 8px;
	/* Change to desired width */
  }
  
  /* Reduce the size of the horizontal scrollbar */
  ::-webkit-scrollbar:horizontal {
	height: 8px;
	/* Change to desired height */
  }
  
  /* Optionally, style the scrollbar on hover */
  ::-webkit-scrollbar-thumb:hover {
	background-color: #BEE6F1;
	/* Change to desired color */
  }


/* Define a vertical animation */
@keyframes verticalMove {
	0%, 100% {
	  transform: translateY(0);
	}
	25%, 75% {
	  transform: translateY(-5px); /* Initial and final position */
	}
	50% {
	  transform: translateY(0); /* Middle position (rest) */
	}
  }
  
  /* Apply the animation to the SVG element */
  #animated-svg {
	animation: verticalMove 0.3s ease-in-out infinite; /* Adjust the duration as needed */
  }
  
  /* Apply a delay for the rest period */
  #animated-svg.rest {
	animation: none; /* Disable animation during rest */
	animation-delay: 10s; /* Rest for 10 seconds */
  }

  /* Styling list of file display */
.file-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
	background-color: azure;
	border: 1px solid rgb(175, 172, 172);
	padding: 10px;
	border-radius: 3px;
}

.file-item span {
	margin-right: 10px;
}

.remove-button {
	background-color: #ff5722; /* Red color, you can change this to your preferred color */
	color: white;
	border: none;
	border-radius: 2px;
	width: 70px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.remove-button:hover {
	background-color: #f44336; /* Hover color */
}

/* Styling file input field */
.et_pb_contact_form_label {
	display: block;
	font-weight: bold;
	letter-spacing: 1.2px;
	font-size: 18px;
}
input[id="id_files"] {
	display: none;
}
label[for="id_files"] {
	background: transparent;
	height: 90px;
  padding: 2px;
	background-image: url('https://www.svgrepo.com/show/9488/cloud-upload-signal.svg');
	background-repeat: no-repeat;
	background-position: top 18px center;
	background-size: 7%;
	color: transparent;
	border-radius: 5px;
	margin: auto;
	left: 0;
	right: 0;
	border: 1px dashed #004e92;
	box-sizing: border-box;
}

label[for="id_files"]:hover {
	border: 1px dashed #C35607;
  cursor: pointer;
}

label[for="id_files"]:before {
	content: "Click to Browse for file attachments";
	display: block;
	top: 50%;
	font-size: 13px;
	color: #202020;
	font-weight: 400;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input[id="id_revision_files"] {
	display: none;
}
label[for="id_revision_files"] {
	background: transparent;
	height: 90px;
  padding: 2px;
	background-image: url('https://www.svgrepo.com/show/9488/cloud-upload-signal.svg');
	background-repeat: no-repeat;
	background-position: top 18px center;
	background-size: 7%;
	color: transparent;
	border-radius: 5px;
	margin: auto;
	left: 0;
	right: 0;
	border: 1px dashed #004e92;
	box-sizing: border-box;
}

label[for="id_revision_files"]:hover {
	border: 1px dashed #C35607;
  cursor: pointer;
}

label[for="id_revision_files"]:before {
	content: "Click to Browse for file attachments";
	display: block;
	top: 50%;
	font-size: 13px;
	color: #202020;
	font-weight: 400;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* Styling time picker */
.flatpickr-time-list {
    background-color: yellow !important; /* Replace with your desired background color */
}

/* Default style for smaller screens */
.noCalendar {
  width: 150px;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .noCalendar {
    width: 230px;
  }
}

/* CSS for the pop-up container */
#tableContainer {
    z-index: 9999;
}


/* Styling to make navbar fadedown */
#navbar {
    background-image: linear-gradient(225deg, #004e92, #000428);
    transition: background 0.6s ease;
}

#navbar.scrolling {
    background-image: linear-gradient(225deg, #000428, #004e92);
}

/* Styles for the overlay */
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.6s ease;
    pointer-events: none;
    z-index: 49;
}

/* Style the flags on the post order page. */
.language-option {
  display: flex;
  align-items: center;
}

.flag-icon {
  width: 20px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Adjust the spacing between image and text */
}

.selected-language {
  display: flex;
  align-items: center;
}

.language-text {
  font-size: 13px; /* Adjust the font size as needed */
}
